body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calc {
  width: 200px;
  padding: 20px;
  background-color: #048ad3;
  border-radius: 0.5rem;
  margin: auto;
}

.screen {
  height: 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 0.5rem;
}

button {
  padding: 5px;
  border-radius: 0.5rem;
  border: none;
  width: 50px;
  margin: 10px 5px;
  cursor: pointer;
}
